canvas {
  border: 1px solid grey;
  margin-top: 10px;
  height: 500px;
  margin-left: 267px;
  border-width: 18px;
}

h1 {
  margin-left: 388px;
}

p {
  margin-right: 50px;
  margin-top: -10px;
  text-align: center;
}
